@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;1,700&family=Roboto:wght@300&family=Sacramento&display=swap');
html{
    font-size: 17px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #1d1d1d;
}
nav{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #393939;
}
nav .logo{
    width: 15%;
    height: 100%;
}
nav .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
nav .menu{
    width: 15%;
    height: 100%;
display: flex;
}
nav .menu .menu-item{
    width: 33%;
    height: 100%;
    border-left: 1px solid #393939;
}
nav .menu .menu-item i{
    color: #999;
    font-size: 22px;
}
main {
    width: 100%;
    margin-top: 15px;
}
main .big{
    width: 90%;
    margin: auto;
    

}
main .big .container{
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
main .big .container .child{
    width: 25%;
    height: 200px;
    background-color: #999;
    border-radius: 10px;
    position: relative;
   
}
main .big .container .child img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
   
}
main .big .container .child .text{
    position: absolute;
    top:0 ;
    right: 0 ;
    left:0 ;
    bottom:0 ;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(255,255,255,0.1));
}
main .big .container .child .text p{
    color: aqua;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    display: none;
}
main .big .container .child .text:hover p{
    color: white;
    display: block;
}
main .big button{
    width: 100%;
    height: 40px;
    background-color: black;
    box-shadow: none;
    border: none;
    
    border-radius: 10px;
    
}
main .big button p{
    color: #999;
}
main .big .banner{
    width: 80%;
    height: 200px;
    margin: auto;
}
main .big .banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main .big2{
    width: 90%;
    margin: auto;
}
main .big2 .big-container{
    width: 100%;
}
main .big2 .big-container h3{
    color: #999;
}
main .big2 .big-container .container{
    width: 100%;
    display: flex;
    gap: 5px;
}
main .big2 .big-container .container .child{
    width: 16%;
    height: 270px;
    background-color: #999;
    border-radius:10px ;
    position: relative;
}
main .big2 .big-container .container .child img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .big2 .big-container .container .child .text{
    position: absolute;
    top:0 ;
    right: 0 ;
    left:0 ;
    bottom:0 ;
    display: flex;
    align-items: flex-end;
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(255,255,255,0.1));
    display: none;

}
main .big2 .big-container .container .child .text p{
    color: aqua;

}
main .big2 .big-container .container .child:hover .text{
    display: flex;
}
footer{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    border-bottom: 1px solid #393939;
    border-top:1px solid #393939 ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .big3{
    width: 15%;
    height: 50%;
    display: flex;
   
    
}
footer .big3 .nail{
    width: 33%;
    height: 100%;
    
    border-left: 1px solid #393939;
}
footer .big3 .nail i{
    color: #999;
}

footer p{
    padding-top: 25px;
    border-top:1px solid #393939 ;
    width: 100%;
    color: #999;
    text-align: center;
}